<h2>
  Permitted usage
</h2>

<ul>
  <li>All CHOICE logos are the subject of copyright.</li>
  <li>All logos must be in PNG format. Never convert to JPEG.</li>
  <li>Logos must not be rotated</li>
  <li>You may resize a file down as long as you keep the orignial height to width ratio. Please use a larger file instead of scaling up.</li>
  <li>The colour palette included in the below images must be used. Remapping the colours is not permitted.</li>
</ul>

<h2>
  Available Versions
</h2>

<p>
  Right click to download.
</p>
