<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>CHOICE Style Guide</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>CHOICE Style Guide</h1>

        <ul>
          <li>
            New Things
              <ul>
                <li>
                  Community
                  <ul>
                    <li>
                      <a href="docs/new-things/community/logos.html">Logos</a>
                    </li>
                  </ul>
                </li>
              </ul>
          </li>
        </ul>


      </header>
      <section>
        {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/choiceaustralia">choiceaustralia</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
